{% extends 'base.html.twig' %}
{% block body %}
<table width="100%">
<tr>
<th width="5%">Id</th>
<th width="15%">User</th>
<th width="10%">Ip</th>
<th width="15%">Operating System</th>
<th width="50%">User Agent</th>
</tr>
{% for user_login_item in user_login_items %}
<tr>
<td><a href={{ path('login_history', {'id': user_login_item.id }) }}> {{ user_login_item.id }}</a></td>
<td>{{ user_login_item.user.username }}</td>
<td>{{ user_login_item.ip.ipAddress }}</td>
<td>{{ user_login_item.os }}</td>
<td>{{ user_login_item.browserAgent }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}