{% extends 'base.html.twig' %}
{% block body %}
	<table width="100%">
		<tr>
			<th width="20%">Id</th>
			<td>{{ user_login_items.id }}</td>
		</tr>
		<tr>
			<th width="15%">Login Time</th>
			<td> {{ user_login_items.created|date('Y-m-d H:i:s') }} </td>
		</tr>
		
		<tr>
			<th width="20%">User</th>
			<td>{{ user_login_items.user.username }}</td>
		</tr>
		<tr>
			<th width="20%">Ip</th>	
			<td>{{ user_login_items.ip.ipAddress }}</td>
		</tr>
		<tr>
			<th width="20%">Operating System</th>
			<td>{{ user_login_items.os }}</td>	
		</tr>
		<tr>
			<th width="20%">User Agent</th>
			<td>{{ user_login_items.browserAgent }}</td>
		</tr>
	</table>
{% endblock %}