
{% block body %}
<h1>{{ user_login_items.id }}</h1>
<h1>{{ user_login_items.userId }}</h1>
<h1>{{ user_login_items.ipId }}</h1>
<h1>{{ user_login_items.os }}</h1>
<h1>{{ user_login_items.browserAgent }}</h1>
{% endblock %}